<!DOCTYPE html>
<html xmlns :th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
</head>
<body>
<div align="center"> 
<h1>User Registration Form</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
<label> Full name: </label> <input type="text" th:field="*{name}"/><br> <br>
<label> Email : </label> <input type="email" th:field="*{email}"/> <br> <br>
<label>Password : </label> <input type="password" th:field="*{password}"/> <br> <br>
<label>Profession</label> <select th:field="*{profession}">
<option th:each="p :${professionList}" th:value="${p}" th:text="${p}"/>
</select><br><br>

<label>Married</label> <input type="checkbox" th:field="*{married}"/><br><br>
<label> Gender</label> <input type="radio" th:field="*{gender}" value="Male"/>Male
<input type="radio" th:field="*{gender}" value="Female"/>Female<br><br>

<button type="submit">Register</button> 
</form>

</div>

</body>
</html> 